.folder-container {
  line-height: 1em;
  user-select: none;
  text-align: center;

  .image {
    vertical-align: middle;
    width: 32px;
    height: 32px;
    text-align: right;
    background-image: url("../../assets/_images/folder.png");
    display: inline-block;
    color: blue;
    cursor: pointer;
  }

}

ul {
  margin-top: 0px;
  list-style-type: none;

    li {
      list-style-type: none;
      display: inline-block;
      text-align: center;
    }
}

.contentFolder {
  .folder-container {
    margin: 15px;
  }
  ul, li {
    margin: 10px;
    padding: 10px;
  }
  .image {
    display: block;
  }
}


