<div *ngIf="folder != undefined">
  <div *ngIf="shouldShowName == true" class="folder-container" (contextmenu)="onContextMenu($event)">
    <span class="image"  (click)="onFolderImageClick($event)">{{expandSign}}</span>
    <span (click)="onFolderNameClick($event)" title={{folder.name}}>{{folder.name}}</span>
  </div>
  <ul *ngIf="expanded || !shouldShowName">
  <li *ngFor="let child of folder.children">
  <folder *ngIf="child.children != undefined" [shouldShowName]="true" [folder]="child" [isInTree]="isInTree" [class.contentFolder]="!isInTree"></folder>
  <file *ngIf="child.children == undefined && isInTree == false" [file]="child"></file>
  </li>
  </ul>
</div>
